<div class="page-sidebar" id="sidebar">
  <div id="sidebar-collapse">
    <ul class="side-menu metismenu">
      <li routerLinkActive="active">
        <a href="href=&quot;javascript:;&quot;">
          <i class="sidebar-item-icon ti-view-grid"></i>
          <span class="nav-label">Dashboards</span>
        </a>
      </li>
      <li class="heading">ORÇAMENTO</li>
      <li routerLinkActive="active">
        <a href="href=&quot;javascript:;&quot;">
          <i class="sidebar-item-icon ti-user"></i>
          <span class="nav-label">Grupos</span>
          <i class="fa fa-angle-left arrow"></i>
        </a>
        <ul class="nav-2-level collapse" routerLinkActive="in">
          <li>
            <a routerLink="/grupos/listar" routerLinkActive="active">Listar</a>
          </li>
          <li>
            <a routerLink="/ui/typography" routerLinkActive="active">Typography</a>
          </li>
          <li>
            <a routerLink="/ui/panels" routerLinkActive="active">Panels</a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="sidebar-footer">
      <a href="javascript:;">
        <i class="ti-announcement"></i>
      </a>
      <a routerLink="/calendar">
        <i class="ti-calendar"></i>
      </a>
      <a routerLink="/mailbox">
        <i class="ti-comments"></i>
      </a>
      <a href="login.html">
        <i class="ti-power-off"></i>
      </a>
    </div>
  </div>



</div>
